  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                    <ul class="list-inline social-buttons">
                        <li><a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="#" aria-label="X"><i class="fa fa-twitter"></i></a>                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
