<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Executive Board</h2>
                    <h3 class="section-subheading text-muted">Student leaders guiding the direction and operations of the organization.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/costapresident.jpeg" class="img-responsive img-circle executive-board-photo" style="object-position: center 35%;" alt="Costa Mitropetros">
                        <h4><strong>Costa Mitropetros</strong></h4>
                        <p><strong>Founder</strong></p>
                        <p class="text-muted">Hi, I’m the Founder of Business in Medicine. I’m a junior majoring in Human Biology, and I founded BIM to create an environment where future business professionals in medicine-related roles can learn, connect, and create. Outside of Michigan State, I resell clothes and enjoy playing basketball.</p>
                        <p><u><a href="mailto:mitropet@msu.edu">mitropet@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/orphicopres.jpeg" class="img-responsive img-circle executive-board-photo" style="object-position: center top; transform: scale(1.1); transform-origin: center top;" alt="Orphi Skordilis">
                        <h4><strong>Orphi Skordilis</strong></h4>
                        <p><strong>Co-President</strong></p>
                        <p class="text-muted">Hi, my name is Orphi, and I’m one of the Co-Presidents of Business in Medicine. I’m a sophomore majoring in Human Biology with a minor in business, and I joined BIM because I wanted the opportunity to lead an organization where I can meet others interested in the business side of medicine and learn through their perspectives.</p>
                        <p><u><a href="mailto:skordil1@msu.edu">skordil1@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/adamcopres.jpeg" class="img-responsive img-circle executive-board-photo" style="object-position: 42% 9%;" alt="Adam Bhatti">
                        <h4><strong>Adam Bhatti</strong></h4>
                        <p><strong>Co-President</strong></p>
                        <p class="text-muted">Hi, my name is Adam, and I’m one of the Co-Presidents of Business in Medicine. I’m a sophomore majoring in Human Biology with a minor in business, and I joined BIM because I wanted to be part of something exploring the entrepreneurship side of medicine on a larger scale. I’m also the treasurer of a medical fraternity at Michigan State.</p>
                        <p><u><a href="mailto:bhattiad@msu.edu">bhattiad@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/danielavice.jpeg" class="img-responsive img-circle executive-board-photo" alt="Daniela Dushaj">
                        <h4><strong>Daniela Dushaj</strong></h4>
                        <p><strong>Vice President</strong></p>
                        <p class="text-muted">Hi, my name is Daniela, and I’m the Vice President of Business in Medicine. I’m a junior majoring in Human Biology with minors in business, health promotion, and bioethics. I joined Business in Medicine because I wanted to increase knowledge and awareness about opening a practice and expand the possibilities for future health professionals.</p>
                        <p><u><a href="mailto:dushajda@msu.edu">dushajda@msu.edu</a></u></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/hishamsec.jpeg" class="img-responsive img-circle executive-board-photo" style="object-position: center 18%;" alt="Hisham Alsalman">
                        <h4><strong>Hisham Alsalman</strong></h4>
                        <p><strong>Secretary</strong></p>
                        <p class="text-muted">Hi, my name is Hisham, and I’m the Secretary of Business in Medicine. I’m a sophomore majoring in Biology, and I joined BIM because my long-term goal is to open my own private practice, where I can utilize both medical and business skills to achieve success.</p>
                        <p><u><a href="mailto:alsalm11@msu.edu">alsalm11@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/alexistreas.jpeg" class="img-responsive img-circle executive-board-photo" alt="Alexis Corrigan">
                        <h4><strong>Alexis Corrigan</strong></h4>
                        <p><strong>Treasurer</strong></p>
                        <p class="text-muted">Hey! My name is Alexis, and I’m the Treasurer of Business in Medicine. I’m a junior majoring in Human Biology with a minor in Business, and I joined BIM because I hope to open my own practice in the future and gain experience with finances. I’m on the pre-med track, and in my free time I like to DJ, learn new languages, and spend time with friends!</p>
                        <p><u><a href="mailto:corrig60@msu.edu">corrig60@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/liamsoc.jpeg" class="img-responsive img-circle executive-board-photo" alt="Liam Mowat">
                        <h4><strong>Liam Mowat</strong></h4>
                        <p><strong>Social Chair</strong></p>
                        <p class="text-muted">Hi, my name is Liam, and I’m the Social Chair of Business in Medicine. I’m a sophomore majoring in B.S. Psychology on the pre-med track with a minor in Business, and I joined BIM because of my long-term goal to eventually start my own psychiatric clinic. Outside of academics, I’m a bodybuilder who enjoys health and fitness, I’ve played guitar for most of my life, and I like to read.</p>
                        <p><u><a href="mailto:mowatlia@msu.edu">mowatlia@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/salenaoutreach.jpeg" class="img-responsive img-circle executive-board-photo" alt="Salena Vo">
                        <h4><strong>Salena Vo</strong></h4>
                        <p><strong>Outreach Chair</strong></p>
                        <p class="text-muted">Hi, my name is Salena, and I’m the Outreach Chair of Business in Medicine. I’m a junior majoring in Human Biology, and I joined BIM because I’m passionate about medicine and want to expand my knowledge of its business side.</p>
                        <p><u><a href="mailto:vosalena@msu.edu">vosalena@msu.edu</a></u></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/miaevco.jpeg" class="img-responsive img-circle executive-board-photo" alt="Mia Mushovic">
                        <h4><strong>Mia Mushovic</strong></h4>
                        <p><strong>Event Coordinator</strong></p>
                        <p class="text-muted">Hi, my name is Mia, and I’m one of the Event Coordinators of Business in Medicine. I’m a sophomore majoring in Psychology, and I joined BIM because I’m very interested in the medical field and how it operates.</p>
                        <p><u><a href="mailto:mushovic@msu.edu">mushovic@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/teddyevco.jpeg" class="img-responsive img-circle executive-board-photo" alt="Teddy Pozios">
                        <h4><strong>Teddy Pozios</strong></h4>
                        <p><strong>Event Coordinator</strong></p>
                        <p class="text-muted">Hi, my name is Teddy, and I’m one of the Event Coordinators of Business in Medicine. I’m a junior majoring in Human Biology and Psychology, with a minor in Entrepreneurship and Innovation. I joined BIM because, as someone who wants to have a future practice, it’s important to understand the business side. I am Greek.</p>
                        <p><u><a href="mailto:poziost1@msu.edu">poziost1@msu.edu</a></u></p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">The Executive Board may work alongside committees focused on programming, partnerships, recruitment, and event planning to advance student development.</p>
                </div>
            </div>
        </div>
    </section>
